<!-- Iterate in the tasks -->
<!-- We're going to use the task-item component to display each task -->

<app-add-task (onAddTask)="addTask($event)"></app-add-task>

<app-task-item *ngFor="let task of tasks"
               [Onetask]="task"
                (onDeleteTask) = "deleteTask(task)"
                 (onToggleReminder) = "ToggleReminder(task)"></app-task-item>
<!-- [task]="task" : the first task is a property and the second one is a value -->
<!-- the task here is going to be an input to the task-item component -->
<!-- onDeleteTask is the event emitter of the task-item component -->
